*{
    margin: 0px;
    padding: 0px;
  }
body{
    margin: 0px;
    padding: 0px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
.btn-group{
        margin-top: 20px;
    }
    

